.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tabsTitle {
  font-size: 32px;
}

.tabsMenu {
  display: inline-block;
  border-radius: 25px;
  background-color: #f0f0f0;
}

.tabsMenu button {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #a6a6a6;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}

.active {
  color: #111111 !important;
  background-color: #e0e0e0 !important;
  border-radius: 25px;
  transition: all 0.2s ease-out;
}

.tabsContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}

.profileCard {
  display: flex;
  position: relative;
  flex: 1 0 100%;
  flex-direction: column;
  max-width: 325px;
  max-height: 360px;
  height: 100%;
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 10px;
}

.profileCard h2 {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  color: #f8f8f8;
  font-weight: 400;
  background-color: rgba(34, 146, 164, 0.7);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}

a:hover > .profileCard h2 {
  display: inline;
}

.profileImage {
  background-color: black;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.profileCard img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0.7;
}
