.main {
  display: flex;
  max-height: 100vh;
  height: 100vh;
}

.title {
  font-size: 34px;
  font-weight: 700;
  margin: 10px 0 20px 10px;
}

.leftSection {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: white;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 75%;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registerForm input {
  background-color: #ececec;
  border: none;
  border-radius: 25px;
  padding: 15px;
  height: 50px;
}

.registerForm button {
  display: flex;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: #ffff;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  height: 48.5px;
  justify-content: center;
  align-items: center;
}

.registerContainer hr {
  margin: 12px 0 15px 0;
  border: none;
  border-radius: 25px;
  background-color: #eeeeee;
  height: 3px;
}

.alternativeMethods {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111111;
  gap: 15px;
}

.alternativeOptions {
  display: flex;
  gap: 20px;
}

.alternativeOptions button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.socialIcons {
  pointer-events: none;
}

.rightSection {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #fbfbfb;
  padding: 25px;
}

.rightContainer {
  width: 75%;
}

.reasons {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px 0 20px 10px;
  gap: 50px;
}

.reason {
  display: flex;
  gap: 10px;
}

.reasonIcon {
  height: 50px;
  width: 50px;
}

.reason h3 {
  font-size: 24px;
  font-weight: 500;
}

.reason p {
  color: #808080;
}

.registerError {
  padding: 10px;
  background-color: darkred;
  color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 20px;
}

.loading {
  width: 25px;
  height: 25px;
}
